.l-grid {
  display: grid;
  grid-template-columns: var(--width-layout) 1fr var(--width-layout);

  @include media(0, $max-sm) {
    --width-layout: 2rem;
  }

  @include media($min-md, $max-md) {
    --width-layout: 6rem;
  }

  @include media($min-lg) {
    --width-layout: 10rem;
  }

  @include media($hg) {
    grid-template-columns: 1fr 1100px 1fr;
  }
}

.l-limit {
  grid-column: 2 / span 1;
}
